.submit-btn { margin-top: 16px; }
ion-note { margin-left: 16px; }

ion-segment {
  margin-bottom: 20px;
}

.map-container {
  margin: 20px 0;
  
  .map {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .map-instruction {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  ion-item {
    margin-top: 10px;
  }
}
