<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onContentScroll($event)">
  <div class="store-header">
    <div class="logo-container">
      <img src="https://21images.s3.eu-north-1.amazonaws.com/21_192x192.webp" alt="Store Logo" class="store-logo" />
      <h1 class="store-name">Online Order</h1>
    </div>
  </div>

  <div class="chip-bar-wrapper">
    <div class="chip-bar">
      <ng-container *ngFor="let cat of categories; let i = index">
        <ion-chip (click)="scrollToCategory(i)" [class.selected]="selectedCategoryIndex === i">
          <ion-label>{{ cat.name }}</ion-label>
        </ion-chip>
      </ng-container>
    </div>
  </div>

  <div class="menu-list">
    <ion-list>
      <ng-container *ngFor="let cat of categories; let i = index">
        <ion-card id="cat-{{i}}">
          <ion-card-header>
            <ion-card-title>{{ cat.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of cat.items" (click)="openItem(item)">
                <ion-thumbnail slot="start" *ngIf="item.thumbnailImage">
                  <img [lazyLoad]="item.thumbnailImage" [thumbnail]="true" [alt]="item.name" />
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ item.name }}</h2>
                  <p *ngIf="item.desc">{{ item.desc }}</p>
                  <small *ngIf="item.price">{{ item.price | currency:'EUR' }}</small>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-list>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="/cart" aria-label="Open cart">
    <ion-icon name="cart"></ion-icon>
    <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
  </ion-fab-button>
 </ion-fab>
